footer {
  margin-top: 150px;
  background-color: rgb(70, 70, 70);
}

.footer-container {
  color: #ffffff;
  font-weight: 300;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  line-height: 2rem;
  font-size: 14px;
}
